body
    font 16px/24px 'R', sans-serif
    height 100%
    color $night-grey
    --blue-color $blue
    --grey-color $grey

::selection
    background $blue
    color #fff

.error
    background palevioletred
    border-radius 6px
    padding 20px
    margin 15px 0
    font-weight 500
    color #fff