// Brandbook Color
$white = #fff
$grey = #909597
$night-grey = #263238
$devider-grey = #E0E0E0
$blue = #4149F2
$purple = #302BDC

// Width
$lg = 1024px

// Animation Time
$time = .25s

// Shadow
$shadow = rgba(0,0,0,0.2)