// Brandbook Color
$grey = #909597
$night-grey = #263238
$sidebar-grey = #F9FAFB
$devider-grey = #E0E0E0
$blue = #4149F2

// Width
$xs = 400px
$sm = 800px
$md = 960px
$lg = 1200px
$xl = 1600px
$xxl = 1680px

// Animation Time
$time = .25s

// Shadow
$shadow = rgba(0,0,0,0.2)