@import "../node_modules/godlike.css/godlike"

@import "css/func"
@import "css/vars"
@import "css/font"
@import "css/layout"

@import '../build/css/atomic.css'

.i-search:after {
    icon-font: url('./assets/svg/search.svg');
}

.i-arrow:after {
    icon-font: url('./assets/svg/arrow.svg');
}