// Dependencies
@import '../node_modules/godlike.css/godlike'

// Global
@import 'assets/styles/func'
@import 'assets/styles/vars'
@import 'assets/styles/font'
@import 'assets/styles/layout'

// Atomic
@import '../build/css/atomic.css'

// Icons
.i-search:after {
    icon-font: url('./assets/svg/search.svg');
}
.i-arrow:after {
    icon-font: url('./assets/svg/arrow.svg');
}