/*
* Icon Font
* ========================================================================== */
[class*='i-']
    position relative
    display inline-flex
    align-items center
    width 1em
    &:after
        font-family 'icon-font'
        font-style normal
        font-size inherit
        text-rendering optimizeLegibility
        speak none
        font-variant normal
        text-transform none
        color inherit
        width 100%

/*
* 300
* ========================================================================== */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
            url('./assets/fonts/r300.woff') format('woff'),
            url('./assets/fonts/r300.ttf') format('truetype');
}
/* cyrillic */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
            url('./assets/fonts/r300c.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
            url('./assets/fonts/r300l.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
* 400
* ========================================================================== */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
            url('./assets/fonts/r400.woff') format('woff'),
            url('./assets/fonts/r400.ttf') format('truetype');
}
/* cyrillic */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
            url('./assets/fonts/r400c.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
            url('./assets/fonts/r400l.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
* 500
* ========================================================================== */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
            url('./assets/fonts/r500.woff') format('woff'),
            url('./assets/fonts/r500.ttf') format('truetype');
}
/* cyrillic */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
            url('./assets/fonts/r500c.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
            url('./assets/fonts/r500l.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
* 700
* ========================================================================== */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Black'), local('Roboto-Black'),
            url('./assets/fonts/r900.woff') format('woff'),
            url('./assets/fonts/r900.ttf') format('truetype');
}
/* cyrillic */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Black'), local('Roboto-Black'),
            url('./assets/fonts/r900c.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'R';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Black'), local('Roboto-Black'),
            url('./assets/fonts/r900l.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
* 300 italic
* ========================================================================== */
@font-face {
    font-family: 'R';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
            url('./assets/fonts/r300i.woff') format('woff'),
            url('./assets/fonts/r300i.ttf') format('truetype');
}
/* cyrillic */
@font-face {
    font-family: 'R';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
            url('./assets/fonts/r300ic.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'R';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
            url('./assets/fonts/r300il.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}